    {% extends "layout1.html" %}
    
    {% block content %}
    <h1Payment Details</h1>

    <!--  Display the Term and Year here --->
    <h3>Payment Information</h3>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Payment Date</th>
                <th scope="col">Payment Amount</th>
                <th scope="col">Reference</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for data in payData %}
            <tr>
                <td scope='row'>{{ data[2] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[3] }}</td>
            </tr>
            {% endfor %}
            <form action="{{url_for('member1')}}">
            <button>Back</button>
            </form>
            </tbody>
        </table>
    </div>

{% endblock %}